.refreshStocksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.refreshInputContainer {
  display: flex;
  align-items: center;
  .refreshAfterLabel {
    margin-right: 2rem;
  }
}

.refreshingAfterMessage {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}